
@media only screen and (max-width: 600px){
    .matti{
        margin-top: 100px;
    
    }
    

}

.ld-pddf{
    margin-top: -70px;
}
.too-not-ll{
    letter-spacing: 0.05rem !important;

}
.uiod-fg{
    letter-spacing: 0.02rem !important;
}